// Color variables
$mzl-red: #F78888;
$mzl-yellow: #F3D250;
$mzl-light-blue: #90CCF4;
$mzl-blue: #5DA2D5;
$mzl-dark-grey: #3E3E3E;
$mzl-grey: #ECECEC;

@media only screen and (max-width: 600px) {
    .full-height {
        background-color: lightblue;
    }
}

.full-height-left {
  background-color: $mzl-grey;
  float: left;
  transition: all 0.3s ease-out;
  .clickable {
    .full-height {
      .vertical-text-left {
        position: absolute;
        top: 61%;
        left: 3vw;
        transform: translate(-50%, -50%);
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        text-decoration: none;
        transform: rotate(270deg);
        transform-origin: left top 0;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: bold;
        font-size: 3rem;
        white-space: nowrap;
        color: $mzl-dark-grey;
      }
      .fa-child {
        color: $mzl-grey;
        margin-top: 200vh;
      }
    }
  }
}

.left:hover {
  transition: all .4s ease-in;
  background-color: $mzl-yellow;
  & .vertical-text-left {
    visibility: hidden;
  }
  & .fa-child {
    transition-delay: 400ms;
    transition: font-size 600ms ease-in;
    font-size: 4rem;
    margin-top: 45vh !important;
    position: absolute;
    left:2.9vw;
  }
  & .fa-child:after {
    transition: all 1s ease-in;
    visibility: visible;
    color: #fff;
    vertical-align: -webkit-baseline-middle;
  }
}
