// Color variables
$mzl-red: #F78888;
$mzl-yellow: #F3D250;
$mzl-light-blue: #90CCF4;
$mzl-blue: #5DA2D5;
$mzl-dark-grey: #3E3E3E;
$mzl-grey: #ECECEC;
$mzl-green: #4FC5B6;

html, body {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

about {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.about-container {
  margin:9vh 0 0 0;
  background-color: $mzl-grey;
  height: 81vh;
  overflow-y: hidden;
  font-size:0;
  display: flex;
  .half {
    font-size: 0;
    width:50%;
    display: inline-block;
    height: 100%;
    &-left {
      background-color: $mzl-yellow;
      .bigtext {
        font-size: 4.2rem;
        text-align: left;
        display: inline-block;
        padding: 8vh 0 0 4vh;
        font-family: 'Poppins', sans-serif;
      }
      .about-blurb {
        font-size: 1.2rem;
        color: $mzl-dark-grey;
        padding: 1vh 0vh 0 0;
        font-family: 'Enriqueta', serif;
        display: inline-block;
        float: left;
        line-height: 4vh;
        text-align: left;
        position: relative;
        width: calc(100% - 2vw);
      }
      .resume {
        font-size: .9rem;
        padding: .5vh 0vh 0vh 0;
        a {
          text-decoration: none;
          color: $mzl-grey;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .icon-wrapper {
        position: relative;
        top:2vh;
        // width: 44vw;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        .icon-container {
          line-height: 4vh;
          .icon {
            transition: all 0.08s ease-out;
            font-size:6vh;
          }
          .fa-gem {
            transform: rotate(330deg);
          }
          .icon-text {
            transition: color 0.08s ease-out;
            font-size: 2vh;
            display: block;
            font-weight: normal;
            visibility: hidden;
            color: #fff;
          }
        }
        .icon-container:hover {
          color: #fff;
          & .icon {
            transition: all 0.08s ease-in;
            transform: scale(1.3);
          }
          & .icon-text {
            transition: color 0.08s ease-in;
            visibility: visible;
          }
          & .fa-gem {
            transition: all 0.08s ease-in;
            transform: scale(1.25) rotate(330deg);
          }
        }
      }
    }
    &-right {
      background-color:$mzl-dark-grey;
      .self-image {
        position: relative;
        width:100%;
        height:100%;
        background-size: cover;
        background-position: 20% 50%;
        background-image: url('/assets/img/walkleysday2.JPG');
        display: block;
        background-repeat: no-repeat;
        filter: grayscale(100%);
      }
    }
    .animation-layer {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}
