 <app-nav-left></app-nav-left>
<app-nav-right></app-nav-right>
<app-header></app-header>
<div class="about-container">
  <div class="half-left half">
    <span class="about-blurb"><span class="bigtext">Hi! </span> I'm Michael, a web developer and a creative. I have worked as a Front-End Web Developer, and a writer. Previous works include large dataset manipulation, data visualisation, and even a platform-wide UI/UX overhaul.
      <br>
      <br>
     Currently I am working on a variable traffic system that uses a neural network and an algorithm to reduce travel time, and increase traffic flow in a simulated environment. </span>
    <span class="about-blurb resume">
      You can download my resume by clicking, <a href="https://drive.google.com/file/d/1yidiNQA4cZf3Z9jk7h8PNoYbwUANptNX/view?usp=sharing" target="_blank">here</a>.</span>
    <span class="about-blurb resume">
      I'm most proficient at programming:
    </span>
    <div class="icon-wrapper">
      <div class="icon-container angular">
        <i class="fab fa-angular icon"></i>
        <span class="icon-text">AngularJS</span>
      </div>
      <div class="icon-container react">
        <i class="fab fa-react icon"></i>
        <span class="icon-text">React</span>
      </div>
      <div class="icon-container node">
        <i class="fab fa-node-js icon"></i>
        <span class="icon-text">Node.js</span>
      </div>
      <div class="icon-container python">
        <i class="fab fa-python icon"></i>
        <span class="icon-text">Python</span>
      </div>
      <div class="icon-container ruby">
        <i class="fas fa-gem icon"></i>
        <span class="icon-text">Ruby</span>
      </div>
    </div>
  </div>
  <div class="half-right half">
    <div class="animation-layer">
      <span class="self-image"></span>
    </div>
  </div>
</div>
<app-nav-footer></app-nav-footer>
