<div class="row">
  <div class="col-sm-12">
    <app-header></app-header>
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    <app-nav-left></app-nav-left>
  </div>
  <div class="col-sm-10">
    <div class=contact-container>
      <div class="half-left half">
          <span class="contact-blurb">
            Feel free to reach out if you have any interesting opportunities, a willingness to collaborate, or if you’d simply like to know more!
          </span>
      </div>
      <div class="half-right half">
        <div class="contact-link-container">
          <div class="email-link-container on-hover">
            <a class="email-link" href="mailto:dir.michaellin@gmail.com">
              <span class="icon fas fa-envelope-square"></span>
            </a>
          </div>
          <div class="linkedin-link-container on-hover">
            <a class="linkedin-link" href="https://www.linkedin.com/in/michael-z-lin/" target="_blank">
              <i class="icon fab fa-linkedin"></i>
            </a>
          </div>
          <div class="twitter-link-container on-hover">
            <a class="twitter-link" href="https://twitter.com/VMikeLActual" target="_blank">
              <i class="icon fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    <app-nav-right></app-nav-right>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-nav-footer></app-nav-footer>
  </div>
</div>
