// Color variables
$mzl-red: #F78888;
$mzl-yellow: #F3D250;
$mzl-light-blue: #90CCF4;
$mzl-blue: #5DA2D5;
$mzl-dark-grey: #3E3E3E;
$mzl-grey: #ECECEC;
$mzl-green: #4FC5B6;

html, body {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

contact {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.contact-container {
  margin:9vh 11vh 0 11vh;
  background-color: $mzl-grey;
  height: 81vh;
  overflow-y: hidden;
  font-size:0;
  display: flex;
  .half {
    font-size: 0;
    width:50%;
    display: inline-block;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    &-left {
      background-color:$mzl-dark-grey;
      .contact-blurb {
        font-size: 3vh;
        display: inline-flex;
        color: $mzl-grey;
        line-height: 5vh;
        text-align: left;
        vertical-align: middle;
        align-items: center;
        padding: 7vh 3vw 7vh 3vw;
        height:80vh;
        position: relative;
        font-family: 'Enriqueta', serif;
      }
    }
    &-right {
      background-color: $mzl-red;
      .contact-link-container {
        font-size: 10vh;
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 100%;
        height:100%;
        .on-hover {
          // padding: 5vh;
          position: absolute;
          vertical-align: bottom;
          align-items: center;

        }
        .email-link-container {
          display: inherit;
          left: 20%;
        }
        .linkedin-link-container {
          display: inherit;
          left: 45%;
        }
        .twitter-link-container {
          display: inherit;
          left:70%;
        }
        .icon {
          transition: all 0.24s ease-out;
          color: $mzl-grey;
        }
        .on-hover:hover {
          & .icon {
            transition: transform 0.08s ease-in;
            transform: scale(1.25);
            color: #fff;
          }
        }
      }
    }
  }
}
