<app-nav-left></app-nav-left>
<app-nav-right></app-nav-right>
<app-header></app-header>
<div class=home-container>
  <div class="third home-link-plut">
    <div class="animation-layer plut-container">
      <a class="plut-link" href="http://www.plutora.com/" target="_blank">
        <span class="plut-text job-title">front-end developer</span>
        <span class="plut-image"></span>
      </a>
    </div>
  </div>
  <div class="third home-link-rotv">
    <div class="animation-layer rotv-container">
      <a class="rotv-link" target="_blank" href="http://www.imdb.com/name/nm6715644/">
        <span class="rotv-text title-text top">RISE</span>
        <span class="rotv-text title-text middle">OF THE</span>
        <span class="rotv-text title-text bottom">VALKYRIE</span>
        <span class="rotv-text credit">co-writer</span>
        <span class="rotv-image"></span>
      </a>
    </div>
  </div>
  <div class="third home-link-wrs">
    <div class="animation-layer wrs-container">
      <a class="wrs-link" href="https://wealth-redistribution-sim.herokuapp.com/" target="_blank">
        <span class="wrs-text top">WEALTH </span>
        <span class="wrs-text center">REDISTRIBUTION</span>
        <span class="wrs-text bottom">SIMULATOR</span>
        <span class="wrs-text credit">designer/developer</span>
        <span class="wrs-image"></span>
      </a>
    </div>
  </div>
</div>
<app-nav-footer></app-nav-footer>
